:host {
  display: flex;
  min-height: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  flex: 1 0;
  margin: 0 auto;
  align-items: center;
  justify-content: center;

  margin-right: 60px;
  @media only screen and (min-width: 768px) {
    margin-right: initial;
  }

  & > mat-form-field {
    width: 240px;
    @media only screen and (min-width: 768px) {
      width: 400px;
    }
  }

  & > button {
    max-width: 150px;
  }
}

.profile {
  position: fixed;
  bottom: 8px;
  left: 8px;
  color: #3f51b5;
}
