<div class="day-container day-header">
  <h2>{{ dayTitle }}</h2>
  <mat-checkbox
    color="primary"
    matTooltip="Working day"
    matTooltipPosition="before"
    [(ngModel)]="isWorkDay"
    (change)="change()"></mat-checkbox>
</div>

<ng-container *ngFor="let time of times">
  <div class="day-container">
    <div class="day-time" (click)="edit(time)">
      {{ time.from }}
      <ng-container *ngIf="time.messageFrom">({{ time.messageFrom }})</ng-container>
      -
      {{ time.to }}
      <ng-container *ngIf="time.messageTo">({{ time.messageTo }})</ng-container>
    </div>

    <button
      mat-icon-button
      color="warn"
      matTooltip="Delete"
      matTooltipPosition="before"
      (click)="delete(time)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</ng-container>

<div class="day-total">
  Day total: {{ total - diff | humanHours }}
</div>
