:host {
  flex: 0 0 300px;
  background-color: #4A4A4A;
  color: #FFF;
  padding: 10px;

  & > hr {
    margin: 16px 0;
    height: 3px;
    border: 0;
    background: #FFF;
  }
}

.item {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.total {
  display: flex;
  justify-content: space-between;
}
