<button
  mat-icon-button
  color="accent"
  (click)="panel()"
  class="toggle"
>
  <mat-icon>menu</mat-icon>
</button>

<h1>Summary</h1>

<div *ngFor="let day of days" class="item">
  <app-summary-day [data]="summary[day]"></app-summary-day>
</div>

<hr />

<div class="total">
  <span>Total</span>
  <span>{{ total | humanHours }}</span>
</div>

<div class="clear">
  <button
    mat-flat-button
    color="primary"
    type="submit"
    matTooltip="Upload from Slack"
    matTooltipPosition="above"
    (click)="getMessages()">Upload</button>

  <button
    mat-flat-button
    color="warn"
    type="submit"
    matTooltip="Remove data from local storage"
    matTooltipPosition="above"
    (click)="clear()">Clear history</button>
</div>
